<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold mb-4"><%= @project.name %></h1>
  <p class="text-gray-700 mb-2"><%= @project.description %></p>
  <p class="text-gray-600 mb-4"><strong>Status:</strong> <span class="<%= status_class(@project.status) %>"><%= @project.status.humanize %></span></p>

  <h2 class="text-xl font-bold mb-2">Conversation History</h2>
  <div id="conversation-history" class="mb-4 space-y-2">
    <% @project_histories.each do |history_item| %>
      <div class="bg-white shadow rounded-md p-4">
        <p class="text-gray-500 text-sm">
          <strong><%= history_item.user.email %></strong> at <%= history_item.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
        </p>
        <% if history_item.contentable_type == 'Comment' %>
          <div class="comment mt-2">
            <%= simple_format history_item.contentable.body %>
          </div>
        <% elsif history_item.contentable_type == 'StatusChange' %>
          <div class="status-change mt-2 text-blue-600">
            Status changed from <%= history_item.contentable&.old_status&.humanize %> to <%= history_item.contentable.new_status.humanize %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2 class="text-xl font-bold mb-2">Leave a Comment</h2>
  <%= render 'comments/comment_form' %>

  <h2 class="text-xl font-bold mt-4 mb-2">Change Status</h2>
  <%= form_with(model: @project, url: project_path(@project), method: :patch, class: "space-y-2") do |f| %>
    <div class="field">
      <%= f.label :status, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= f.select :status, Project.statuses.keys.map { |key| [key.humanize, key] }, { prompt: "Select Status" }, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <%= f.submit 'Update Status', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  <% end %>

  <%= link_to 'Back to Projects', projects_path, class: "inline-block mt-4 text-blue-500 hover:underline" %> |
  <%= link_to 'Edit Project', edit_project_path(@project), class: "inline-block mt-2 text-blue-500 hover:underline" %>

  <h2 class="text-xl font-bold mt-4 mb-2">Add Project Member</h2>
  <%= link_to 'Add Member', new_project_project_membership_path(@project), class: "inline-block bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-4" %>

  <h2 class="text-xl font-bold mt-4 mb-2">Project Members</h2>
  <ul class="list-disc pl-5">
    <% @project.users.each do |member| %>
      <li><%= member.email %></li>
    <% end %>
  </ul>
</div>
