<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Sign in to your account</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4">
          <label class="inline-flex items-center">
            <%= f.check_box :remember_me, class: "form-checkbox h-5 w-5 text-blue-600" %>
            <span class="ml-2 text-gray-700 text-sm">Remember me</span>
          </label>
        </div>
      <% end %>

      <div>
        <%= f.submit "Sign in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full" %>
      </div>
    <% end %>

    <div class="mt-4 text-sm font-light text-gray-500">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

